/*// notation par etoile*/

    /* Par défaut, une étoile est en gris,
       avec un padding et un curseur en forme de main. */
@import "~@fortawesome/fontawesome-free/css/all.min.css";



body {
    font-family: Helvetica, Arial, sans-serif;
    background-repeat: repeat;
    background-blend-mode: screen;
    background-color: White;
    margin: 0 !important;

}
.container {
    margin: 0 auto !important;
    width: 90% !important;
    text-align: center;
    min-height: 100vh !important;
    padding: 20%;
}

.stars .fa-star {
    color: gray;
    cursor: pointer;
    font-size: 1em;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
    color: #ffdc0f;
}

/* Le groupe '.stars' positionne les étoiles
     les unes à côté des autres sans espacements. */
.stars {
    display: inline-flex;

/*//justify-content: center;*/
    font-size: 2em;
}

.is-padding-20{
    padding: 20px !important;
}
.isgold{
    color: gold !important;
}
.isgray{
    color: gray !important;
}